/*sredniki i klamerki*/

/*hero*/
.hero {
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url("334761397_971325897099761_6204686148148004613_n.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

@media (max-width: 1200px) {
    .hero {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

.logo {
    margin-left: 10px;
    margin-top: 10px;
}

/*.hero-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
przesuwa logo w prawo*/

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
   font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-align: center; 
}

.header-link {
    font-size: 24px;
    text-align: center; 
    color: white;
    
}

.header-link:hover {
    color:pink;
    transition: 300ms;
}

/*about*/
.about-image-wrapper {
    position: relative;
    max-width: 400px;
}

@media (max-width: 960px) {
    .about-image-wrapper {
       max-width: 300px;
    }
}
  
.about-image-wrapper::after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #1b211b;
    border-radius: 8px;
    z-index: -1;
}
  
.about-image-wrapper::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 100%;
    background: #e0e0bb;
    border-radius: 8px;
    z-index: -1;
}
.section-about {
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-heading {
    font-size: 25px;
    color: #000;
    font-family: 'Caveat';
}

.about-image {
    border-radius: 10px;
    max-width: 100%;
}

.about-text {
    font-size: 20px;
    color: #000;
    font-family: 'Caveat';
}

/*quote*/

.section-quote{
    text-align: center;
    background-color: rgb(249, 227, 201);
    padding: 15px;
}

.quote{
    font-family: 'Dancing script';
    font-size: 50px;
}

.quote-autor{
    font-family: 'Dancing Script';
    font-size: 20px;
}


/*photos*/

.section-photos {
    padding: 50px;
}
  
.photos {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
  
.photos-heading {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Caveat';
    text-align: center;
}

.figure {
    max-width: 30%;
    margin: 0;
  }
  
  @media (max-width: 800px) {
    .figure {
      max-width: 45%;
    }
  }
  
  @media (max-width: 460px) {
    .figure {
      max-width: 100%;
    }
  }

.figure-image {
    border-radius: 8px;
    max-width: 90%;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.figure-image:hover {
    transform: scale(1.8);
    z-index: 1;
}

.div-image {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
/* 1 czerwca*/
.section-pcz {
    padding: 100px;
    background-color: #e3fcff;
}

.about-heading-pcz {
    text-align: center;
    font-size: 40px;
    font-family: 'Dancing Script';
}

.about-text-pcz {
    font-size: 25px;
    font-family: 'Caveat';
}

.div-image2 {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.figure2 {
    max-width: 20%;
    margin: 0;
  }
  
  @media (max-width: 800px) {
    .figure2 {
      max-width: 45%;
    }
  }
  
  @media (max-width: 460px) {
    .figure2 {
      max-width: 100%;
    } 
  }

.figure-image2 {
   
    border-radius: 8px;
    max-width: 70%;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.figure-image2:hover {
    transform: scale(1.8);
    z-index: 1;
}

/* klepsydra */
.klepsydra {
  padding: 100px;
  background-color: #e3fcff;
}

.klepsydra-heading {
  text-align: center;
  font-size: 40px;
  font-family: 'Dancing Script';
}

.klepsydra-text {
  font-size: 25px;
  font-family: 'Caveat';
}

.klepsydra-div-images {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.klepsydra-figure {
  max-width: 20%;
  margin: 0;
}

.klepsydra-figure-image { 
  border-radius: 8px;
  max-width: 70%;
  justify-content: center;
}

.klepsydra-div-images_poziomo {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.klepsydra-figure_poziomo {
  max-width: 40%;
  margin: 0;
}

.klepsydra-figure-image_poziomo { 
  border-radius: 8px;
  max-width: 80%;
  justify-content: center;
} 
